body{
    background-image: url(../img/fondoIndex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: rgb(76, 65, 230);
    font-family: 'Fredoka One', cursive;
    padding: 1em;  
}

li a {
    font-family: 'Fredoka One', cursive;
    color: rgb(48, 94, 223);
    font-size: 30px;
    text-decoration: none;  
}

ul{
    list-style-type: none;
    padding-left: 0em;
}

li{
    text-align: center;
}

a:visited {
    color: rgb(251, 255, 44);
}
  
a:hover {
    color: rgb(150, 211, 230);
}
  
